<html>
    <head>
        <title>My Winning Wheel</title>
		<script src='javascripts/winwheel/Winwheel.js'></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    </head>
    <body>
		<table width="100%">
			<tbody><tr>
				<td width="420">
					<canvas id="canvas" class="tutCanvas" width="400" height="400"></canvas>
				</td>
				<td>
					<button id="bigButton" class="bigButton" onclick="spinWheel.startAnimation(); this.disabled=true;" disabled="">Spin the Wheel</button>
					&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="spinWheel.stopAnimation(); spinWheel.rotationAngle=0; spinWheel.draw(); bigButton.disabled=false;">Reset</a>
				</td>
					
			</tr>
		</tbody></table>
		<script>
			let spinWheel = new Winwheel({
				'numSegments'    : 4,
				'outerRadius'    : 170,
				'segments'       :
				[
					{'fillStyle' : '#eae56f', 'text' : 'Prize One'},
					{'fillStyle' : '#89f26e', 'text' : 'Prize Two'},
					{'fillStyle' : '#7de6ef', 'text' : 'Prize Three'},
					{'fillStyle' : '#e7706f', 'text' : 'Prize Four'}
				],
				'animation' :
				{
					'type'     : 'spinToStop',
					'duration' : 5,
					'spins'    : 30
				}
			});
	
		</script>
			 
			
	</body>
	</html>
	